$breakpoints: (
  pc: "screen and (min-width:1200px)",
  tab: "screen and (max-width:834px)",
  sp: "screen and (max-width:414px)",
);
// sp/tb用のスタイル
.pie {
  width: 90%;
  margin: 0 auto;
}
.container {
  background: #fff;
  padding: 50px 0;
  border-radius: 20px;
  table {
    width: 80%;
    margin: 0 auto;
    border-spacing: 0;
    // background-color: yellow;
    border-bottom: 1px solid;
  }

  th,
  td {
    text-align: right;
    padding: 20px 10px;
    font-weight: normal;
    border-bottom: 2px border #dddd;
  }
  .textLeft {
    text-align: left;
    width: 20%;
  }
  .block {
    display: block;
    width: 100%;
  }
  .subtotal {
    width: 30%;
  }
}
@media (min-width: 900px) {
  .postList {
    display: flex;
    align-items: center;
    margin: 5px auto;
    border-bottom: 1px #d9d9d9 solid;
    width: 80%;
    label {
      display: table-cell;
      vertical-align: middle;
      line-height: 1;
      height: 100%;
      // @include mq(tab) {
      //   font-size: 14px;
      // }
    }
    input {
      margin: 0 auto;
      padding: 5px;
      display: block;
      width: 60%;
      height: 100%;
    }
  }
  .pie {
    width: 54%;
  }
}

.smallFont {
  font-size: small;
  margin-left: 50px;
}
