$breakpoints: (
  pc: "screen and (min-width:900px)",
  tab: "screen and (max-width:899px)",
  sp: "screen and (max-width:414px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
.container {
  background: #fff;
  padding: 50px 0;
  border-radius: 20px;
  table {
    width: 80%;
    margin: 0 auto;
    border-spacing: 0;
  }

  th,
  td {
    text-align: left;
    padding: 20px 10px;
    // background-color: pink;
    // thのデフォルトでの太字回避のため
    font-weight: normal;
    border-bottom: 2px border #dddd;
  }

  .date {
    padding: 8px 10px;
    background-color: #f2b691;
    color: white;
    @include mq(sp) {
      font-size: small;
    }
  }

  .block {
    display: block;
    width: 100%;
  }
  .textRight {
    text-align: right;
  }
}

// ページング

.pagination {
  display: flex;
  margin: 60px auto 20px;
  // ページング中央寄せ
  justify-content: center;
  & > li {
    margin: 0 12px;
    & > a {
      position: relative;
      font-size: 0.8rem;
      width: 24px;
      height: 24px;
      outline: none;
      z-index: 100;
      cursor: pointer;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: -100;
      }

      &:hover {
        &::before {
          background-color: #f2b691;
        }
      }
    }

    &.active {
      & > a::before {
        background-color: #f2b691;
      }
    }
  }

  &__previous,
  &__next {
    & > a {
      font-size: 0.7rem;
    }
  }

  &__disabled {
    display: none;
  }
}
// プルダウン
.pulldownContainer {
  width: 80%;
  margin: 10px auto;
}
.pulldown {
  width: 40%;
  @include mq(sp) {
    width: 80%;
  }
}
