$breakpoints: (
  pc: "screen and (min-width:1200px)",
  tab: "screen and (max-width:834px)",
  sp: "screen and (max-width:414px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// * {
//   outline: 2px solid red;
// }

.accountContainer {
  h3 {
    text-align: center;
    margin-top: 10px;
    @include mq(sp) {
      font-size: 16px;
    }
  }
  p {
    margin: 0;
    @include mq(sp) {
      font-size: 14px;
    }
  }
}
