.primaryButton {
  width: 200px;
  height: 50px;
  background: #f39801;
  border-radius: 50px;
  border: none;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  // 中央寄せ
  display: block;
  margin: 20px auto;
}
p {
  text-align: center;
  margin: 14px 0;
}
