$breakpoints: (
  pc: "screen and (min-width:1200px)",
  tab: "screen and (max-width:834px)",
  sp: "screen and (max-width:414px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.naviContainer {
  // display: flex;
  // justify-content: space-between;
  width: 100%;
  padding: 5px 20px;
  margin: auto;
  background-color: #dddddd;
  nav {
    display: flex;
    justify-content: space-between;
  }
  h1 {
    @include mq(sp) {
      display: none;
    }
  }
  img {
    width: 180px;
    height: 70px;
    object-fit: cover;
    @include mq(sp) {
      display: none;
    }
  }
  @include mq(sp) {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    justify-content: space-around;
  }
}

.naviList {
  display: flex;
  justify-content: right;
  width: 45%;
  @include mq(tab) {
    width: 35%;
  }
  @include mq(sp) {
    margin: 0 auto;
    justify-content: space-around;
  }
  li {
    list-style-type: none;
    text-align: center;
    font-size: 12px;
    margin: 0 10px;
    svg {
      width: 100%;
      transition: all 0.3s;
    }
    p {
      margin: 0;
      transition: all 0.3s;
      @include mq(tab) {
        width: 55px;
      }
      @include mq(sp) {
        width: 50px;
      }
    }
    @include mq(tab) {
      font-size: 10px;
      margin: 0;
    }
    @include mq(sp) {
      width: 100px;
      text-align: center;
      padding: 0 20px;
      font-size: 10px;
      margin: 0;
    }
    @include mq(sp) {
    }
  }
  li:hover {
    svg {
      color: #2f4f4f;
    }
    p {
      color: #2f4f4f;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
}
