$breakpoints: (
  pc: "screen and (min-width:900px)",
  tab: "screen and (max-width:899px)",
  sp: "screen and (max-width:414px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.categoryContainer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  @include mq(tab) {
    width: 90%;
  }
  @include mq(sp) {
    width: 100%;
  }
  p {
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    @include mq(sp) {
      font-size: 16px;
      margin: 10px;
    }
  }
  label {
    display: inline-block;
    input {
      display: none;
    }
    span {
      color: #333;
      font-size: 16px;
      border: 1px solid #333;
      margin: 10px;
      display: inline-block;
      width: 120px;
      height: 120px;
      border-radius: 5px;
      @include mq(tab) {
        width: 90px;
        height: 90px;
        font-size: 12px;
      }
      @include mq(sp) {
        width: 70px;
        height: 70px;
        margin: 5px;
      }
    }
    svg {
      width: 75%;
      height: 75%;
    }
  }
}

label input:checked + span {
  border: 3px solid #8b0000;
}
