// sp/tb用のスタイル
.inputMain {
  text-align: center;
  input {
    width: 80%;
    border: 4px solid #d9d9d9;
    padding: 10px 4px;
    margin-top: 30px;
    background-color: #fff;
  }
}
.errorMessage {
  text-align: center;
  color: red;
  margin: 16px 0;
}
// pc用のスタイル
@media (min-width: 900px) {
  .inputMain {
    input {
      width: 500px;
    }
  }
}
.PasswordReveal {
  left: auto;
  position: absolute;
  right: 10px;
  top: 10px;
}
